@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'clearsans-400';
    src: url('assets/fonts/ClearSans-Regular.ttf');
}
@font-face {
    font-family: 'clearsans-500';
    src: url('assets/fonts/ClearSans-Medium.ttf');
}
@font-face {
    font-family: 'clearsans-700';
    src: url('assets/fonts/ClearSans-Bold.ttf');
}
html {
    box-sizing: border-box;
}
body {
    font-family: 'clearsans-400', sans-serif;
    line-height: '22.98px';
}

.bg-1 {
    background: linear-gradient(225deg, #dadaff 3.26%, rgba(218, 218, 255, 0) 3.27%, rgba(218, 218, 255, 0.4) 98.18%);
}
.checkbox:checked {
    appearance: auto;
    clip-path: circle(50% at 50% 50%);
}
